# auxiliary R files
.Rhistory
.Rapp.history

# auxiliary LaTeX files
*-concordance.tex
*.log
*.synctex.gz
*-concordance.tex
*.log
*.synctex.gz
*.vrb

*.pdf
*.R
*.tex

# exclusions
!slides/L1-parameter_estimation/one-parameter-models.tex
!slides/L1-parameter_estimation/one-parameter-models.R


